/*整个布局：页面水平居中  有最大宽度和最小宽度*/
.jd_layout{
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
    /*height: 1000px; !*任意添加的值*!*/
    background-color: #eee;
}

/*头部样式开始*/
.jd_header{
    max-width: 640px;
    min-width: 320px;
    height: 50px;
    background-color: rgba(201,23,35,0);
    width: 100%;
    /*固定定位*/
    position: fixed;
    z-index: 999;
}
/*banner块样式开始*/
.jd_banner{
    width:100%;
    overflow:hidden;
    position: relative;
}
/*图片块*/
.jd_banner > ul:first-of-type{
    /*为了轮播图上效果添加了首尾两张图片*/
    width:1000%;
    /*添加默认偏移，让其还是显示第一张图片*/
    transform:translateX(-10%);
}
.jd_banner > ul:first-of-type > li{
    width:10%;
    float: left;
}
.jd_banner > ul:first-of-type > li >a{
    width:100%;
}
.jd_banner > ul:first-of-type > li >a > img{
    width:100%;
    display: block;
    /*vertical-align:bottom;*/
}
/*标记块*/
.jd_banner > ul:last-of-type{
    width: 118px;
    position: absolute;
    left: 50%;
    bottom: 10px;
    margin-left:-59px;
}
.jd_banner > ul:last-of-type > li{
    width: 6px;
    height: 6px;
    border-radius: 3px;
    border: 1px solid #fff;
    float: left;
    margin-left: 10px;
}
.jd_banner > ul:last-of-type > li:first-of-type{
    margin-left: 0;
}
.jd_banner > ul:last-of-type > li.now{
    background-color: #fff;
}

/*nav导航块制作*/
.jd_nav{
    width:100%;
    padding:10px 0px;
    background-color: #fff;
}
.jd_nav > ul {
    width:100%;
}
.jd_nav > ul > li{
    width:25%;
    float: left;
    text-align: center;
}
.jd_nav > ul > li a{
    width:100%;
    display: block;
}
.jd_nav > ul > li a > p {
    line-height:25px;
}

